<div class="layui-card">
    <div class="layui-card-header">登陆界面</div>
    <div class="layui-card-body">
        <form class="layui-form layui-form-pane" >
            <div class="layui-form-item">
                <label class="layui-form-label">用户名:</label>
                <div class="layui-input-block">
                    <input type="text" name="user_name"   placeholder="姓名" class="layui-input" id="name">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码:</label>
                <div class="layui-input-block">
                    <input type="password" name="pass"  placeholder="密码"  class="layui-input" id="pass">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="sumMath">登陆</button>
                    <button type="button" class="layui-btn layui-btn-normal" id="register">注册</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/js/jquery.js"></script>
<script src="/js/layui/layui.js"></script>
<script>

    $("#register").click(function () {
        window.location.href = '/site/register';
        return false;
    });

    //Demo
    layui.use('form', function(){
        var form = layui.form;
        //监听提交
        form.on('submit(sumMath)', function(data){
            layer.msg(JSON.stringify(data.field));
            submit(data.field);
            return false;
        });
    });


    function submit(data) {
        $.ajax({
            url:"/site/login",
            type:"POST",
            data:data,
            success:function (data) {
                let code = data.code;
                if(code !=200){
                    let msg = data.msg;
                    layer.msg(msg,{time:2000});
                }else{
                    window.location.href = '/home';
                }
            }
        })
    }



</script>